// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 1.6rem;
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
}

img {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
}

a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;

}

// Variable
:root {
    --white-color: #fff;
    --border-navi: #e1e8ef;
    --black-color: #000;
    --btn-primary: #42A7C2;
    --primary-color: #42A7C2;
    --background-color-primary: #EAF1F7;
    --search-color-primary: #CED4DA;
}


// ----------------------------------------------------------

// Common intro
.intro {
    margin-left: 21px;
}

// ----------------------------------------------------------
.footer {
    background-color: black;
    display: flex;
    align-items: center;

    .box {
        max-width: 100%;
        padding-top: 31px;
        padding-right: 404px;
        padding-bottom: 30px;
        padding-left: 1226px;

        p {
            color: var(--white-color);
            width: 290px;
            font-family: "noto sans jp regular";
            font-size: 12px;
            font-weight: 400;
            line-height: 36px;
            font-style: normal;
            text-align: left;
        }
    }
}

.layout {
    margin-top: 9px;
    margin-left: 56px;
    width: 1920px;
    height: 3015px;
    max-width: 100%;
    display: grid;
    justify-content: center;

    .top__page {
        display: grid;
        justify-content: center;
        max-width: 100%;

        #dropdown {
            display: none;
        }

        #brdcrmb {
            display: none;
        }

        .breadcrumb {
            display: none;
        }

        #brdcrmb li {
            display: none;
        }

        .grid__column-1 {

            // leftNavi
            .left__Navi {
                height: 521px;
                width: 220px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 50px;

                .left__NaviBorder {
                    border: 1px solid var(--border-navi);

                    // Logo:
                    .logo__Container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .logo {
                            width: 163.3px;
                            height: 54.1px;
                            margin: 32px 31px 0px 26px;
                        }

                        // NaviButton:
                        .left__NaviBtn {
                            margin-top: 19px;
                            width: 176px;
                            height: 43px;
                            border-radius: 5px;
                            color: var(--white-color);
                            background-color: var(--primary-color);
                            padding: 8px 5px 13px 8px;

                            p {
                                font-size: 18px;
                                font-weight: bold;
                                line-height: 18px;
                                font-style: normal;
                                text-align: center;
                                letter-spacing: 2px;
                            }
                        }
                    }

                    // NaviList:
                    .left__NaviList {
                        margin-top: 27px;
                        width: 218px;

                        .left__NaviListlink {
                            border-bottom: 1px solid var(--border-navi);
                            border-top: 1px solid var(--border-navi);

                            height: 70px;
                            align-items: center;
                            padding: 30px 20px;
                            display: flex;
                            position: relative;
                            font-weight: 400;
                            line-height: 16px;
                            font-style: normal;
                            text-align: left;

                            .icon__Forward {
                                position: absolute;
                                right: 20px;
                                top: 25px;
                                width: 9px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }

        .grid__column-2 {
            grid-column: 3/4;

            // RightContainer:
            .right__AppContainer {
                max-width: 100%;
                display: grid;
                position: relative;

                header {
                    margin-left: 0px;
                    margin-top: 21px;

                    .header__Container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        // Bread:
                        .icon_home {
                            margin-right: 10px;
                            width: 17.9px;
                            height: 15.9px;
                        }

                        // Nav:
                        .nav {
                            display: flex;
                            align-items: center;
                            margin-right: 2px;

                            a {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 14px;
                                font-style: normal;
                                text-align: left;
                                color: #7b7b7b;
                            }

                            .icon_goto {
                                margin-right: 25px;
                                margin-left: 7px;
                                width: 14px;
                                height: 14px;
                            }

                            .icon_mail {
                                margin-left: 7px;
                                width: 20px;
                                height: 15px;
                            }
                        }
                    }

                    // Search:
                    .search__Container {
                        margin-top: 19px;
                        height: 90px;
                        border-radius: 55px;
                        background-color: var(--background-color-primary);
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        padding: 0 85px;

                        // Phần vỏ ngoài màu trắng của thanh search
                        .search__Box {
                            width: 426px;
                            border: 1px solid var(--search-color-primary);
                            background-color: var(--white-color);
                            padding: 0 20px;
                            border-radius: 55px;
                            display: flex;
                            align-items: center;
                            margin-right: 13px;
                            margin-left: 19px;

                            // nơi để nhập từ khóa
                            .input__Search {

                                width: 426px;
                                max-width: 100%;
                                border: 1px solid var(--search-color-primary);
                                border: none;
                                outline: none;
                                font-size: 12.2px;
                                font-weight: 400;
                                line-height: 16px;
                                font-style: normal;
                                text-align: left;
                                height: 50px;
                                padding: 10px 10px 6px 10px;
                            }

                            .icon__Search {
                                width: 18px;
                                height: 18px;
                            }
                        }

                        .btn__Search {
                            background-color: var(--primary-color);
                            color: var(--white-color);
                            width: 94px;
                            height: 49px;
                            border-radius: 10px;
                        }
                    }

                }

                // Main:
                main {
                    grid-row: 2;
                    margin-top: 49px;

                    // #Section 1 (Guild)
                    #section1 {
                        width: 931px;

                        // title_guild:
                        .title__Guild {
                            display: flex;
                            flex-wrap: wrap;

                            h2 {
                                margin-top: 40px;
                                height: 27px;
                                font-size: 26px;
                                font-weight: bold;
                                line-height: 26px;
                                font-style: normal;
                                text-align: left;
                                color: var(--primary-color);
                            }

                            p {
                                margin-top: 18px;
                                margin-left: 3px;
                            }

                            img {
                                width: 189.7px;
                                height: 148.6px;
                            }
                        }

                        // Content Guild:
                        .content_guild {
                            margin-top: 23px;
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                            grid-template-rows: repeat(1, auto);
                            gap: 15px;
                            justify-content: center;
                            align-items: center;

                            // btn_3col:
                            .btn__3col {
                                max-width: 100%;
                                height: 145px;
                                justify-content: center;
                                align-items: center;
                                background-color: white;
                                color: var(--primary-color);
                                border: 1px solid var(--primary-color);
                                border-radius: 10px;
                                padding: 23px 31px;
                                line-height: 30px;

                                p {
                                    margin-bottom: 30px;
                                    height: 49px;

                                    font-size: 18px;
                                    font-weight: bold;
                                    line-height: 30px;
                                    font-style: normal;
                                    text-align: center;
                                    color: var(--primary-color);
                                }

                                // dưới đây là định dạng cho từng hình trong button 
                                .icon {
                                    &_titleChart {
                                        margin-bottom: 1px;
                                        margin-top: -1px;
                                        width: 41px;
                                        height: 27px;
                                    }

                                    &_titleUser {
                                        margin-bottom: 2px;
                                        width: 21px;
                                        height: 26px;
                                    }

                                    &_titleGrow {
                                        margin-bottom: 1px;
                                        margin-right: 10px;
                                        width: 36px;
                                        height: 42px;
                                    }

                                    &_titleSearch {
                                        margin-bottom: 5px;
                                        margin-top: 8px;
                                        width: 29px;
                                        height: 29px;
                                    }

                                    &_titleWindow {
                                        margin-top: 1px;
                                        margin-right: 8px;
                                        margin-bottom: 4px;
                                        width: 30px;
                                        height: 37px;
                                    }

                                    &_titleMessage {
                                        margin-top: 7px;
                                        margin-bottom: -8px;
                                        width: 41px;
                                        height: 32px;
                                    }
                                }
                            }
                        }

                    }

                    // #Section 2 (Output):
                    #section2 {
                        position: relative;
                        margin-top: 80px;

                        // title_output
                        .title__Output {
                            margin-top: 80px;
                            display: flex;

                            img {
                                width: 122.1px;
                                height: 137.4px;
                            }

                            h2 {
                                margin-top: 36px;
                                color: var(--primary-color);
                                width: 235px;
                                height: 27px;
                                font-size: 26px;
                                font-weight: bold;
                                line-height: 26px;
                                margin-bottom: 23px;
                                font-style: normal;
                                text-align: left;
                            }

                            p {
                                height: 17px;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 16px;
                                font-style: normal;
                                text-align: left;
                            }
                        }

                        .content_output_icon {
                            margin-top: 30px;
                            width: auto;

                            .output__subTitle {
                                height: 52.1px;
                                position: relative;
                                border-top: 1px solid var(--primary-color);

                                h2 {
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    font-style: normal;
                                    text-align: left;
                                    font-size: 20px;
                                    color: var(--primary-color);
                                    font-weight: bold;
                                    position: absolute;
                                    bottom: 2px;
                                }
                            }

                            .output__subTitle-2 {
                                height: 52.1px;
                                position: relative;
                                border-top: 1px solid var(--primary-color);
                                margin-top: 50px;

                                h2 {
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    font-style: normal;
                                    text-align: left;
                                    font-size: 20px;
                                    color: var(--primary-color);
                                    font-weight: bold;
                                    position: absolute;
                                    bottom: 3px;
                                }
                            }

                            .output__subTitle-3 {
                                height: 52.1px;
                                position: relative;
                                border-top: 1px solid var(--primary-color);
                                margin-top: 56px;

                                h2 {
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    font-style: normal;
                                    text-align: left;
                                    font-size: 20px;
                                    color: var(--primary-color);
                                    font-weight: bold;
                                    position: absolute;
                                    bottom: 2px;
                                }
                            }

                            /*
                            điều chỉnh hình dạng đường thẳng trong subTitle
                            ở trường hợp này ta có hình dài và hình ngắn trên design 
                            nên có thêm class line_medium
                            */
                            .line {
                                position: absolute;
                                width: 214px;
                                height: 4px;

                                &_medium {
                                    position: absolute;
                                    width: 120px;
                                    height: 4px;
                                }
                            }

                            /*
                            Dàn layout cho các button
                            */
                            .button_4col-layout {
                                margin-top: 21px;
                                margin-bottom: 47px;
                                display: flex;
                                flex-wrap: wrap;
                                gap: 17px;

                                // btn_4col:
                                .btn__4col {
                                    width: 220px;
                                    height: 160px;
                                    background-color: var(--background-color-primary);
                                    color: var(--primary-color);
                                    border: 1px solid var(--background-color-primary);
                                    border-radius: 8px;
                                    line-height: 40px;
                                    padding: 20px 20px;

                                    // Điều chỉnh cho từng hình trong button
                                    .icon_output {
                                        width: 67%;

                                        &_1 {
                                            width: 135px;
                                            height: 60.8px;
                                        }

                                        &_7 {
                                            width: 104.5px;
                                            height: 44.4px;
                                        }

                                    }

                                    p {
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 30px;
                                        font-style: normal;
                                        text-align: center;
                                        color: var(--primary-color);
                                    }
                                }

                            }
                        }
                    }

                    // #section3 (function):
                    #section3 {
                        margin-bottom: 155px;

                        // title_function:
                        .title__Function {
                            margin-top: 96px;
                            display: flex;

                            .intro_function {
                                margin-left: 18px;
                                margin-top: 32px;
                            }

                            img {
                                width: 125px;
                                height: 117.4px;
                            }

                            h2 {
                                height: 27px;
                                font-size: 26px;
                                font-weight: bold;
                                line-height: 26px;
                                font-style: normal;
                                text-align: left;
                                color: var(--primary-color);
                                margin-bottom: 23px;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 16px;
                                font-style: normal;
                                text-align: left;
                            }
                        }

                        .content_function {
                            margin-top: 41px;
                            gap: 15px;
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(303px, 458px));

                            /* Phần này mình chia làm 4 rows
                            với mỗi rows chỉ chỉnh sửa thuộc tính margin và các chữ, độ dài của Line
                            trong function__Text cho giống design còn lại thì tương tự nhau */
                            .function__subTitle {
                                height: 52.1px;
                                position: relative;
                                border-top: 1px solid var(--primary-color);

                                .line {
                                    position: absolute;
                                    height: 4px;
                                    width: 60px;
                                }

                                h2 {
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    font-style: normal;
                                    text-align: left;
                                    position: absolute;
                                    bottom: 2px;
                                    color: var(--primary-color);
                                }
                            }

                            .function__subTitle-row2 {
                                height: 52.1px;
                                margin-top: 23px;
                                height: 52.1px;
                                position: relative;
                                border-top: 1px solid var(--primary-color);

                                .line {
                                    position: absolute;
                                    height: 4px;
                                    width: 60px;

                                    &_4 {
                                        position: absolute;
                                        width: 160px;
                                    }
                                }

                                h2 {
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    font-style: normal;
                                    text-align: left;
                                    position: absolute;
                                    bottom: 2px;
                                    color: var(--primary-color);
                                }
                            }

                            .function__subTitle-row3 {
                                height: 52.1px;
                                margin-top: 15px;
                                height: 52.1px;
                                position: relative;
                                border-top: 1px solid var(--primary-color);

                                .line {
                                    position: absolute;
                                    height: 4px;
                                    width: 60px;

                                    &_5 {
                                        position: absolute;
                                        width: 80px;
                                    }

                                    &_6 {
                                        position: absolute;
                                        width: 179px;
                                    }
                                }

                                h2 {
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    font-style: normal;
                                    text-align: left;
                                    position: absolute;
                                    bottom: 2px;
                                    color: var(--primary-color);
                                }
                            }

                            .function__subTitle-row4 {
                                height: 52.1px;
                                margin-top: 24px;
                                height: 52.1px;
                                position: relative;
                                border-top: 1px solid var(--primary-color);

                                .line {
                                    position: absolute;
                                    height: 4px;
                                    width: 60px;

                                    &_7 {
                                        position: absolute;
                                        width: 119px;
                                    }
                                }

                                h2 {
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    font-style: normal;
                                    text-align: left;
                                    position: absolute;
                                    bottom: 2px;
                                    color: var(--primary-color);
                                }
                            }


                            .function__Box {

                                .function__Text {
                                    color: var(--primary-color);
                                    padding-top: 16px;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 36px;
                                    font-style: normal;
                                    text-align: left;

                                    &-smallLineHeight {
                                        color: var(--primary-color);
                                        margin-top: 9px;
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 36px;
                                        font-style: normal;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* RESPONSIVE 1 top_page: phần này dành cho các phần tử tính từ top_page vào trong */

    // tablet: 740<= width < 1024
    @media only screen and (min-width: 740px) and (max-width: 1024px) {

        .top__page {
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            .grid__column-1 {
                display: none;
            }

            .grid__column-2 {
                .right__AppContainer {
                    margin: 0 auto;

                    .search__Container {
                        justify-content: center;
                        height: 50px;
                        display: flex;
                        padding: 0 0;

                        p {
                            display: none;
                        }

                        .search__Box {
                            display: flex;
                            padding: 0 0;
                            width: 60%;

                            .input__Search {
                                height: 30px;
                                width: 100%;
                            }
                        }

                        .btn__Search {
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    // moblie: width < 740px
    @media screen and (max-width: 739px) {
        .top__page {
            margin: 0 10px;
            display: flex;
            flex-direction: column;

            // ẩn thanh menu
            .grid__column-1 {
                display: none;
            }

            .grid__column-2 {
                .right__AppContainer {
                    margin: 0 0;

                    header {
                        .header__Container {

                            .bread,
                            .nav {
                                display: none;
                            }
                        }

                        .search__Container {
                            height: 50px;
                            width: 100%;
                            display: flex;
                            padding: 0 0;

                            p {
                                display: none;
                            }

                            .search__Box {
                                display: flex;
                                margin: 0 auto;

                                width: 60%;

                                .input__Search {
                                    height: 30px;
                                    width: 100%;
                                }
                            }

                            .btn__Search {
                                height: 30px;
                                margin-right: 20px;
                            }
                        }
                    }

                    main {

                        // responsive Ss 1
                        #section1 {
                            width: auto;

                            .title__Guild {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 0 0;

                                h2 {
                                    margin-top: 30px;
                                }
                            }
                        }

                        // responsive Ss 2
                        #section2 {
                            .title__Output {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 0 0;

                                h2 {
                                    margin-top: 30px;
                                }

                            }

                            .content_output_icon {
                                .button_4col-layout {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }

                        // responsive Ss 3
                        #section3 {

                            .title__Function {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 0 0;

                                .intro_function {
                                    margin: 0 10px;
                                }
                            }
                        }
                    }

                }
            }

            // Breadcrumb menu: ON
            #dropdown {
                color: var(--white-color);
                background-color: var(--primary-color);
                padding: 5px 20px;
                display: flex;
                position: fixed;
                right: 10px;
                top: 5px;
                z-index: 22;
            }

            #brdcrmb {
                height: auto;
                display: flex;
                background-color: var(--primary-color);
                margin-top: 10px;
                padding: 10px 20px;
            }

            .breadcrumb {
                display: flex;
            }

            #brdcrmb li {
                display: flex;
                color: var(--white-color);
            }
        }
    }
}

/* RESPONSIVE 2: phần này dành cho các phần tử bên ngoài top_page */

// tablet: 740<= width < 1024
@media only screen and (min-width: 740px) and (max-width: 1024px) {

    .layout {
        margin: 0 auto;
        height: auto;
    }

    .footer {
        .box {
            margin: 0 auto;
            padding: 0 50%;
        }
    }
}

// moblie: width < 740px
@media screen and (max-width: 739px) {
    .intro {
        margin: 0 10px;
    }

    .layout {
        margin: 0 auto;
        height: auto;
    }

    .footer {
        .box {
            padding: 0 0;
            margin: 0 auto;
        }
    }
}